.footer{
    background-color: black;
    color: white;
   
    
}

/*SECCION DE INFORMACION*/
.footer--section{
    font-weight: bold;
    padding: 6% 15%;
    
}

/*DIV DE SUSCRIPCION*/
.footer--div{
    padding: 0 20% 0 15%;
}


