<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
<%- include('./partials/header.ejs') %>
    <main class="main--home">
    
    </main>
    <%- include('./partials/footer.ejs') %>

  </body>
</html>
