<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
<%- include('./partials/header.ejs') %>
    <main class="main--home">
      <h4 class="main--masVendido">Mas vendido</h4>
      <section class="home--section1">
        
        <div class="home--donut--div">
          <img src="images/pngtree-doughnut-donut-illustration-png-image_13320596.png" alt="">
          <p class="home--donut--name">Dona Glaseada</p>
          <p class="home--donut--price">$50</p>
          <h3 class="home--donut--add">Agregar</h3>
        </div>
        <div class="home--donut--div">
          <img src="images/pngtree-doughnut-donut-illustration-png-image_13320596.png" alt="">
          <p class="home--donut--name">Nombre de la noda</p>
          <p class="home--donut--price">Precio de la noda</p>
        </div>
        <div class="home--donut--div">
          <img src="images/pngtree-doughnut-donut-illustration-png-image_13320596.png" alt="">
          <p class="home--donut--name">Nombre de la noda</p>
          <p class="home--donut--price">Precio de la noda</p>
        </div>
        <div class="home--donut--div">
          <img src="images/pngtree-doughnut-donut-illustration-png-image_13320596.png" alt="">
          <p class="home--donut--name">Nombre de la noda</p>
          <p class="home--donut--price">Precio de la noda</p>
        </div>
        <div class="home--donut--div">
          <img src="images/pngtree-doughnut-donut-illustration-png-image_13320596.png" alt="">
          <p class="home--donut--name">Nombre de la noda</p>
          <p class="home--donut--price">Precio de la noda</p>
        </div>
        <div class="home--donut--div">
          <img src="images/pngtree-doughnut-donut-illustration-png-image_13320596.png" alt="">
          <p class="home--donut--name">Nombre de la noda</p>
          <p class="home--donut--price">Precio de la noda</p>
        </div>
        </div>
      </section>
    
    </main>
    <%- include('./partials/footer.ejs') %>

  </body>
</html>
