<!DOCTYPE html>
<html lang="en">
<footer class="footer">
    <section class="footer--section">
        <p>Devoluciones</p>
        <p>Políticas de la tienda</p>
        <p>Método de pago</p>
    </section>
    <section class="footer--section">
        <p>Contacto</p>
        <p>Wahtsapp: 112233-4455</p>
        <p>iformacion@donas.com</p>
    </section>
    <section class="footer--section">
        <p>Facebook</p>
        <p>Instagram</p>
        
    </section>
    <div class="footer--div">
        <p>Suscribete para no perderte nuestras ofertas</p>
    </div>
    <section class="footer--section--subs">
        
        <label class="footer--label--Email" for="emailfooter">Email</label>
        <input class="footer--form" type="email" name="Ingresa tu email" id="emailfooter" placeholder="Ingresa tu email aqui">
        <button class="footer--buttom" type="button">Unirse</button>
    </section>

</footer>
<script src="js/footer.js"></script>
</html>