<!DOCTYPE html>
<html lang="en">
<footer class="footer">
    <section class="footer--section">
        <p>Devoluciones</p>
        <p>Políticas de la tienda</p>
        <p>Método de pago</p>
    </section>
    <section class="footer--section">
        <p>Contacto</p>
        <p>Wahtsapp: 112233-4455</p>
        <p>iformacion@donas.com</p>
    </section>
    <section class="footer--section">
        <p>Facebook</p>
        <p>Instagram</p>
        
    </section>
    <div class="footer--div">
        <p>Suscribete para no perderte nuestras ofertas</p>
    </div>
    <section>
        <p>Email</p>
        <input type="email" name="Ingresa tu email" id="">
        <button type="button">Unirse</button>
    </section>

</footer>
</html>