
<header class="header">
  <div class="header--logo">
    <img src="images/a.jpg" alt="">
  </div>
  <a href=""><i id="burgermenu" class="fa-solid fa-cart-shopping"></i></a>

  <a href=""><i id="burgermenu" class="fa-solid fa-bars"></i></a>
    <div class="header--div1">
      <ul class="header--div--ul">
        <li>Donatas</li>
        <li>Acerde de</li>
        <li>Contacto</li>
        <li>Tiendas</li>
      </ul>
    </div>
    <div class="header--div1">
      <i class="fa-solid fa-user"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <script src="/js/header.js"></script>
    </header>